<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tripadvisor</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Tripadvisor</h1>
		<hr>
		<h2>Update Contact</h2>

		<form action="#" th:action="@{/saveContact}" th:object="${contact}" method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<label for="websiteUrl">Website URL</label>
			<input type="text" th:field="*{websiteUrl}" id="websiteUrl" class="form-control mb-4 col-4">
			
			<label for="phoneNumber">Phone Number</label>
			<input type="text" th:field="*{phoneNumber}" id="phoneNumber" class="form-control mb-4 col-4">
			
			<label for="email">Email</label>
			<input type="text" th:field="*{email}" id="email" class="form-control mb-4 col-4">
			
			<button type="submit" class="btn btn-info col-2">Update Contact</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/contacts}"> Back to Contacts</a>
	</div>
</body>
</html>